Flask==3.0.3
psycopg2-binary==2.9.9
gunicorn==22.0.0
python-dotenv==0.21.0

# OpenTelemetry - auto-instrumentation
opentelemetry-distro==0.50b0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation-flask==0.50b0
opentelemetry-instrumentation-psycopg2==0.50b0