# New Relic License Key Secret
#
# Como obter sua license key:
#   1. Acessar https://one.newrelic.com
#   2. Clicar no profile (canto inferior esquerdo) -> API Keys
#   3. Copiar a chave do tipo INGEST - LICENSE
#
# Como usar:
#   cp gitops/monitoring/newrelic-secret.yaml.example gitops/monitoring/newrelic-secret.yaml
#   # editar a license-key
#   kubectl apply -f gitops/monitoring/newrelic-secret.yaml
#
# IMPORTANTE: newrelic-secret.yaml (sem .example) esta no .gitignore.
apiVersion: v1
kind: Secret
metadata:
  name: newrelic-license-key
  namespace: monitoring
type: Opaque
stringData:
  license-key: "COLOQUE_SUA_LICENSE_KEY_DO_NEW_RELIC_AQUI"
